.todos-btt {
    width: 64px;
    height: 40px;
    background: #e9ecef;
    color: #868e96;
    border: 1.4px solid #e9ecef;
    box-sizing: border-box;
    border-radius: 8px;
  }
  .todos-btt:hover {
    cursor: pointer;
    filter: brightness(0.9);
  }
  @media (max-width: 560px) {
    .button-card {
      margin-left: 7px;
    }
  }