header {
  width: 100%;
  height: 88px;
  background: #f8f9fa;
  box-shadow: 0px 4px 32px -12px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: row;
  align-items: center;
}

header div {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header img {
  width: 122, 68px;
  height: 19, 53px;
  margin-right: 500px;
}
.form {
  width: 363px;
  height: 351px;
  background: #ffffff;
  box-shadow: 0px 4px 32px -12px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 39px;
}
.colum-left {
  display: flex;
  flex-direction: column;
}
.cards {
  margin-top: 34px;
  margin-left: 20px;
  width: 100%;
}
main {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 auto;
}
@media (max-width: 1035px) {
  main {
    flex-direction: column;
  }
  header img {
    margin-right: 260px;
    margin-left: 100px;
  }
  .home-card div .button-card {
    margin-top: 10px;
  }
  .home-card {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin-left: 60px;
  }

  .input-sele {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
  }
  .input-sele button {
    margin-top: 5px;
  }
  .form-style {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .colum-left {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    align-items: center;
  }
  .form {
    width: 280px;
  }
  .div-total {
    width: 215px;
  }
  .button-form {
    width: 215px;
  }
  .input-desc {
    width: 215px;
  }
  .form-style select {
    width: 150px;
    margin-top: 10px;
  }
  .cards {
    margin-left: 0;
  }
}
@media (max-width: 560px) {
  header img {
    margin-right: 0px;
    margin-left: 0px;
  }
  .div-total {
    width: 250px;
  }
  .button-form {
    width: 225px;
  }
  .input-desc {
    width: 225px;
  }
}