
  
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap");

.div-Card {
  width: 90%;
  height: 87px;
  background: #f8f9fa;
  border-radius: 4px;
  font-family: "Nunito", sans-serif;
  margin-bottom: 32px;
}
.div-Card div {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.div-Card h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  color: #212529;
}
.div-Card span {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 22px;
  color: #868e96;
  margin-left: 14px;
}
.div-Card i {
  background: #e9ecef;
  border-radius: 2.46154px;
  text-align: center;
}
.icone {
  text-align: center;
  color: #868e96;
}
.valor {
  color: #212529;
}
.div-entrada {
  border-left: 4px solid#03b898;
}
.div-saida {
  border-left: 4px solid #e9ecef;
}
.home-card {
  display: flex;
  justify-content: space-around;
}
.button-all {
  height: 40px;
  width: 69px;
  background: #fd377e;
  border: 1.4px solid #fd377e;
  box-sizing: border-box;
  border-radius: 8px;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
}
.button-all:hover {
  cursor: pointer;
  filter: brightness(0.9);
}
.button-card {
  width: 87px;
  height: 40px;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  background: #e9ecef;
  color: #868e96;
  border: 1.4px solid #e9ecef;
  box-sizing: border-box;
  border-radius: 8px;
  margin-left: 16px;
}
.button-card:hover {
  cursor: pointer;
  filter: brightness(0.9);
}