.form-style {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .input-desc {
    width: 314px;
    height: 52px;
    background: #f8f9fa;
    border: 2px solid #f8f9fa;
    box-sizing: border-box;
    border-radius: 8px;
  }
  .input-value {
    width: 128px;
    height: 48px;
    background: #f8f9fa;
    border: 2px solid #f8f9fa;
    box-sizing: border-box;
    border-radius: 8px;
    margin-top: 76.1;
  }
  .form-style select {
    width: 150px;
    height: 48px;
    background: #f8f9fa;
    border: 2px solid #f8f9fa;
    box-sizing: border-box;
    border-radius: 8px;
    margin-left: 26px;
  }
  
  .input-sele {
    margin-top: 50px;
  }
  .button-form {
    width: 314px;
    height: 48px;
    background: #fd377e;
    border: 2px solid #fd377e;
    box-sizing: border-box;
    border-radius: 8px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #ffffff;
    margin-top: 33.5px;
  }
  @media (max-width: 1035px) {
    .form {
      width: 280px;
    }
    .form {
      width: 280px;
    }
    .button-form {
      width: 215px;
    }
    .input-desc {
      width: 215px;
    }
    .form-style select {
      width: 150px;
      margin-top: 10px;
      margin-left: 0;
    }
  }